<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <!-- site metas -->
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- site icon -->
    <link rel="icon" href="images/fevicon.png" type="image/png" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- site css -->
    <link rel="stylesheet" href="style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="css/responsive.css" />
    <!-- color css -->
    <link rel="stylesheet" href="css/colors.css" />
    <!-- select bootstrap -->
    <link rel="stylesheet" href="css/bootstrap-select.css" />
    <!-- scrollbar css -->
    <link rel="stylesheet" href="css/perfect-scrollbar.css" />
    <!-- custom css -->
    <link rel="stylesheet" href="css/custom.css" />
    <!-- calendar file css -->
    <link rel="stylesheet" href="js/semantic.min.css" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="inner_page contact_page">
    <div class="full_container">
      <div class="inner_container">
        <!-- Sidebar  -->
        <nav id="sidebar">
          <div class="sidebar_blog_1">
            <div class="sidebar-header">
              <div class="logo_section">
                <a href="index.html"
                  ><img
                    class="logo_icon img-responsive"
                    src="images/layout_img/user_img.jpg"
                    alt="#"
                /></a>
              </div>
            </div>
            <div class="sidebar_user_info">
              <div class="icon_setting"></div>
              <div class="user_profle_side">
                <div class="user_img">
                  <img
                    class="img-responsive profile-picture"
                    src="images/layout_img/user_img.jpg"
                    alt="#"
                  />
                </div>
                <div class="user_info">
                  <h6 class="userName">Digital Strategies</h6>
                  <p><span class="online_animation"></span> Online</p>
                </div>
              </div>
            </div>
          </div>
          <div class="sidebar_blog_2">
            <h4>General</h4>
            <ul class="list-unstyled components">
              <li class="active">
                <a
                  href="dashboard.html"
                  data-toggle="collapse"
                  aria-expanded="false"
                  ><i class="fa fa-home yellow_color"></i> <span>Home</span></a
                >
              </li>
              <li>
                <a href="widgets.html"
                  ><i class="fa fa-money orange_color"></i>
                  <span>Campaigns</span></a
                >
              </li>
              <li>
                <a
                  href="#element"
                  data-toggle="collapse"
                  aria-expanded="false"
                  class="dropdown-toggle"
                  ><i class="fa fa-bars purple_color"></i> <span>CRM</span></a
                >
                <ul class="collapse list-unstyled" id="element">
                  <li>
                    <a href="contact.html">> <span>Contact</span></a>
                  </li>
                  <li>
                    <a href="icons.html">> <span>Deals</span></a>
                  </li>
                  <li>
                    <a href="invoice.html">> <span>Invoice</span></a>
                  </li>
                  <li>
                    <a href="invoice.html">> <span>Task</span></a>
                  </li>
                  <li>
                    <a href="email.html">> <span>Inbox</span></a>
                  </li>
                  <li>
                    <a href="calendar.html">> <span>Calendar</span></a>
                  </li>
                  <li>
                    <a href="media_gallery.html"
                      >> <span>Media Gallery</span></a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <a href="tables.html"
                  ><i class="fa fa-table purple_color2"></i>
                  <span>Content</span></a
                >
              </li>
              <li>
                <a href="#apps" data-toggle="collapse" aria-expanded="false"
                  ><i class="fa fa-object-group blue2_color"></i>
                  <span>Automations</span></a
                >
              </li>
              <li>
                <a href="price.html"
                  ><i class="fa fa-money blue1_color"></i>
                  <span>Chatbots</span></a
                >
              </li>
              <li>
                <a href="map.html"
                  ><i class="fa fa-map purple_color2"></i> <span>Map</span></a
                >
              </li>
              <li>
                <a href="charts.html"
                  ><i class="fa fa-bar-chart-o green_color"></i>
                  <span>Charts</span></a
                >
              </li>
              <li>
                <a href="settings.html"
                  ><i class="fa fa-cog yellow_color"></i>
                  <span>Settings</span></a
                >
              </li>
            </ul>
          </div>
        </nav>
        <!-- end sidebar -->
        <!-- right content -->
        <div id="content">
          <!-- topbar -->
          <div class="topbar">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="full">
                <button
                  type="button"
                  id="sidebarCollapse"
                  class="sidebar_toggle"
                >
                  <i class="fa fa-bars"></i>
                </button>
                <div class="logo_section">
                  <a href="index.html"
                    ><img
                      class="img-responsive profile-picture"
                      src="images/layout_img/user_img.jpg"
                      alt="#"
                  /></a>
                </div>
                <div class="right_topbar">
                  <div class="icon_info">
                    <ul>
                      <li>
                        <a href="#"
                          ><i class="fa fa-bell-o"></i
                          ><span class="badge">2</span></a
                        >
                      </li>
                      <li>
                        <a href="#"><i class="fa fa-question-circle"></i></a>
                      </li>
                      <li>
                        <a href="#"
                          ><i class="fa fa-envelope-o"></i
                          ><span class="badge">3</span></a
                        >
                      </li>
                    </ul>
                    <ul class="user_profile_dd">
                      <li>
                        <a class="dropdown-toggle" data-toggle="dropdown"
                          ><img
                            class="img-responsive rounded-circle profile-picture"
                            src="images/layout_img/user_img.jpg"
                            alt="#"
                          /><span class="userName">Digital Strategies</span></a
                        >
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="profile.html"
                            >My Profile</a
                          >
                          <a class="dropdown-item" href="settings.html"
                            >Settings</a
                          >
                          <a class="dropdown-item" href="help.html">Help</a>
                          <a class="dropdown-item" href="/login"
                            ><span>Log Out</span> <i class="fa fa-sign-out"></i
                          ></a>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </div>
          <!-- end topbar -->
          <!-- Home inner -->
          <div class="midde_cont">
            <div class="container-fluid">
              <div class="row column_title">
                <div class="col-md-12">
                  <div class="page_title">
                    <h2>Contacts</h2>
                  </div>
                </div>
              </div>
              <!-- row -->
              <div class="row column1">
                <div class="col-md-12">
                  <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                      <div class="heading1 margin_0">
                        <h2>Contacts</h2>
                        <button
                          type="button"
                          class="btn btn-success"
                          data-bs-toggle="modal"
                          data-bs-target="#createContactModal"
                        >
                          Create Contact
                        </button>
                      </div>
                      <!-- Modal for Updating Contact -->
                      <div
                        id="updateContactModal"
                        class="modal fade"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="updateContactModalLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5
                                class="modal-title"
                                id="updateContactModalLabel"
                              >
                                Update Contact
                              </h5>
                              <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                              >
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form id="update-contact-form">
                                <div class="form-group">
                                  <label for="update-name">Name:</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="update-name"
                                    required
                                  />
                                </div>

                                <div class="form-group">
                                  <label for="update-email">Email:</label>
                                  <input
                                    type="email"
                                    class="form-control"
                                    id="update-email"
                                    required
                                  />
                                </div>

                                <div class="form-group">
                                  <label for="update-phone">Phone:</label>
                                  <input
                                    type="tel"
                                    class="form-control"
                                    id="update-phone"
                                    required
                                  />
                                </div>

                                <div class="form-group">
                                  <label for="update-address">Address:</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="update-address"
                                    required
                                  />
                                </div>

                                <div class="form-group">
                                  <label for="update-city">City:</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="update-city"
                                    required
                                  />
                                </div>

                                <div class="form-group">
                                  <label for="update-country">Country:</label>
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="update-country"
                                    required
                                  />
                                </div>

                                <div id="response-message"></div>
                                <button type="submit" class="btn btn-primary">
                                  Update Contact
                                </button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Modal -->
                      <div
                        class="modal fade"
                        id="createContactModal"
                        tabindex="-1"
                        aria-labelledby="createContactModalLabel"
                        aria-hidden="true"
                      >
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5
                                class="modal-title"
                                id="createContactModalLabel"
                              >
                                Create New Contact
                              </h5>
                              <button
                                type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              ></button>
                            </div>
                            <div class="modal-body">
                              <!-- Form Inside Modal -->
                              <form
                                id="create-contact-form"
                                enctype="multipart/form-data"
                              >
                                <div class="mb-3">
                                  <label for="name" class="form-label"
                                    >Name:</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="name"
                                    name="name"
                                    required
                                  />
                                </div>
                                <div class="mb-3">
                                  <label for="phone" class="form-label"
                                    >Phone:</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="phone"
                                    name="phone"
                                    required
                                  />
                                </div>
                                <div class="mb-3">
                                  <label for="email" class="form-label"
                                    >Email:</label
                                  >
                                  <input
                                    type="email"
                                    class="form-control"
                                    id="email"
                                    name="email"
                                    required
                                  />
                                </div>
                                <div class="mb-3">
                                  <label for="gender" class="form-label"
                                    >Gender:</label
                                  >
                                  <select
                                    id="gender"
                                    class="form-select"
                                    name="gender"
                                    required
                                  >
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                  </select>
                                </div>
                                <div class="mb-3">
                                  <label for="country" class="form-label"
                                    >Country:</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="country"
                                    name="country"
                                    required
                                  />
                                </div>
                                <div class="mb-3">
                                  <label for="city" class="form-label"
                                    >City:</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="city"
                                    name="city"
                                    required
                                  />
                                </div>
                                <div class="mb-3">
                                  <label for="address" class="form-label"
                                    >Address:</label
                                  >
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="address"
                                    name="address"
                                    required
                                  />
                                </div>
                                <div class="mb-3">
                                  <label for="image" class="form-label"
                                    >Image:</label
                                  >
                                  <input
                                    type="file"
                                    class="form-control"
                                    id="image"
                                    name="image"
                                    accept="image/*"
                                    required
                                  />
                                </div>
                                <button type="submit" class="btn btn-primary">
                                  Create Contact
                                </button>
                              </form>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal"
                              >
                                Close
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div id="response-message" class="mt-3"></div>
                    </div>
                    <div class="full price_table padding_infor_info">
                      <div id="contacts-list" class="row">
                        <!-- column contact -->
                        <div
                          class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30"
                        >
                          <div class="contact_blog">
                            <h4 class="brief">Digital Strategist</h4>
                            <div class="contact_inner">
                              <div class="left">
                                <h3>${contact.name}</h3>
                                <p>
                                  <strong>About: </strong>Frontend Developer
                                </p>
                                <ul class="list-unstyled">
                                  <li>
                                    <i class="fa fa-envelope-o"></i> :
                                    ${contact.email}
                                  </li>
                                  <li>
                                    <i class="fa fa-phone"></i> :
                                    ${contact.phone}
                                  </li>
                                </ul>
                              </div>
                              <div class="right">
                                <div class="profile_contacts">
                                  <img
                                    class="img-responsive"
                                    src="${contact.image}"
                                    alt="#"
                                  />
                                </div>
                              </div>
                              <div class="bottom_list">
                                <div class="left_rating">
                                  <p class="ratings">
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star-o"></span
                                    ></a>
                                  </p>
                                </div>
                                <div class="right_button">
                                  <button
                                    type="button"
                                    class="btn btn-success btn-xs"
                                  >
                                    <i class="fa fa-user"> </i>
                                    <i class="fa fa-comments-o"></i>
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-primary btn-xs"
                                  >
                                    <i class="fa fa-user"> </i> View Profile
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end column contact blog -->
                        <!-- column contact -->
                        <div
                          class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30"
                        >
                          <div class="contact_blog">
                            <h4 class="brief">Digital Strategist</h4>
                            <div class="contact_inner">
                              <div class="left">
                                <h3>John Smith</h3>
                                <p>
                                  <strong>About: </strong>Frontend Developer
                                </p>
                                <ul class="list-unstyled">
                                  <li>
                                    <i class="fa fa-envelope-o"></i> :
                                    test@gmail.com
                                  </li>
                                  <li>
                                    <i class="fa fa-phone"></i> : 987 654 3210
                                  </li>
                                </ul>
                              </div>
                              <div class="right">
                                <div class="profile_contacts">
                                  <img
                                    class="img-responsive"
                                    src="images/layout_img/msg2.png"
                                    alt="#"
                                  />
                                </div>
                              </div>
                              <div class="bottom_list">
                                <div class="left_rating">
                                  <p class="ratings">
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star-o"></span
                                    ></a>
                                  </p>
                                </div>
                                <div class="right_button">
                                  <button
                                    type="button"
                                    class="btn btn-success btn-xs"
                                  >
                                    <i class="fa fa-user"> </i>
                                    <i class="fa fa-comments-o"></i>
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-primary btn-xs"
                                  >
                                    <i class="fa fa-user"> </i> View Profile
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end column contact blog -->
                        <!-- column contact -->
                        <div
                          class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30"
                        >
                          <div class="contact_blog">
                            <h4 class="brief">Digital Strategist</h4>
                            <div class="contact_inner">
                              <div class="left">
                                <h3>${contact.name}</h3>
                                <p>
                                  <strong>About: </strong>Frontend Developer
                                </p>
                                <ul class="list-unstyled">
                                  <li>
                                    <i class="fa fa-envelope-o"></i> :
                                    ${contact.email}
                                  </li>
                                  <li>
                                    <i class="fa fa-phone"></i> :
                                    ${contact.phone}
                                  </li>
                                </ul>
                              </div>
                              <div class="right">
                                <div class="profile_contacts">
                                  <img
                                    class="img-responsive"
                                    src="${contact.image}"
                                    alt="#"
                                  />
                                </div>
                              </div>
                              <div class="bottom_list">
                                <div class="left_rating">
                                  <p class="ratings">
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star-o"></span
                                    ></a>
                                  </p>
                                </div>
                                <div class="right_button">
                                  <button
                                    type="button"
                                    class="btn btn-success btn-xs"
                                  >
                                    <i class="fa fa-user"> </i>
                                    <i class="fa fa-comments-o"></i>
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-primary btn-xs"
                                  >
                                    <i class="fa fa-user"> </i> View Profile
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end column contact blog -->
                        <!-- column contact -->
                        <div
                          class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30"
                        >
                          <div class="contact_blog">
                            <h4 class="brief">Digital Strategist</h4>
                            <div class="contact_inner">
                              <div class="left">
                                <h3>${contact.name}</h3>
                                <p>
                                  <strong>About: </strong>Frontend Developer
                                </p>
                                <ul class="list-unstyled">
                                  <li>
                                    <i class="fa fa-envelope-o"></i> :
                                    ${contact.email}
                                  </li>
                                  <li>
                                    <i class="fa fa-phone"></i> :
                                    ${contact.phone}
                                  </li>
                                </ul>
                              </div>
                              <div class="right">
                                <div class="profile_contacts">
                                  <img
                                    class="img-responsive"
                                    src="${contact.image}"
                                    alt="#"
                                  />
                                </div>
                              </div>
                              <div class="bottom_list">
                                <div class="left_rating">
                                  <p class="ratings">
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star-o"></span
                                    ></a>
                                  </p>
                                </div>
                                <div class="right_button">
                                  <button
                                    type="button"
                                    class="btn btn-success btn-xs"
                                  >
                                    <i class="fa fa-user"> </i>
                                    <i class="fa fa-comments-o"></i>
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-primary btn-xs"
                                  >
                                    <i class="fa fa-user"> </i> View Profile
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end column contact blog -->
                        <!-- column contact -->
                        <div
                          class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30"
                        >
                          <div class="contact_blog">
                            <h4 class="brief">Digital Strategist</h4>
                            <div class="contact_inner">
                              <div class="left">
                                <h3>${contact.name}</h3>
                                <p>
                                  <strong>About: </strong>Frontend Developer
                                </p>
                                <ul class="list-unstyled">
                                  <li>
                                    <i class="fa fa-envelope-o"></i> :
                                    ${contact.email}
                                  </li>
                                  <li>
                                    <i class="fa fa-phone"></i> :
                                    ${contact.phone}
                                  </li>
                                </ul>
                              </div>
                              <div class="right">
                                <div class="profile_contacts">
                                  <img
                                    class="img-responsive"
                                    src="${contact.image}"
                                    alt="#"
                                  />
                                </div>
                              </div>
                              <div class="bottom_list">
                                <div class="left_rating">
                                  <p class="ratings">
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star-o"></span
                                    ></a>
                                  </p>
                                </div>
                                <div class="right_button">
                                  <button
                                    type="button"
                                    class="btn btn-success btn-xs"
                                  >
                                    <i class="fa fa-user"> </i>
                                    <i class="fa fa-comments-o"></i>
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-primary btn-xs"
                                  >
                                    <i class="fa fa-user"> </i> View Profile
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end column contact blog -->
                        <!-- column contact -->
                        <div
                          class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30"
                        >
                          <div class="contact_blog">
                            <h4 class="brief">Digital Strategist</h4>
                            <div class="contact_inner">
                              <div class="left">
                                <h3>${contact.name}</h3>
                                <p>
                                  <strong>About: </strong>Frontend Developer
                                </p>
                                <ul class="list-unstyled">
                                  <li>
                                    <i class="fa fa-envelope-o"></i> :
                                    ${contact.email}
                                  </li>
                                  <li>
                                    <i class="fa fa-phone"></i> :
                                    ${contact.phone}
                                  </li>
                                </ul>
                              </div>
                              <div class="right">
                                <div class="profile_contacts">
                                  <img
                                    class="img-responsive"
                                    src="${contact.image}"
                                    alt="#"
                                  />
                                </div>
                              </div>
                              <div class="bottom_list">
                                <div class="left_rating">
                                  <p class="ratings">
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star-o"></span
                                    ></a>
                                  </p>
                                </div>
                                <div class="right_button">
                                  <button
                                    type="button"
                                    class="btn btn-success btn-xs"
                                  >
                                    <i class="fa fa-user"> </i>
                                    <i class="fa fa-comments-o"></i>
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-primary btn-xs"
                                  >
                                    <i class="fa fa-user"> </i> View Profile
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end column contact blog -->
                        <!-- column contact -->
                        <div
                          class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30"
                        >
                          <div class="contact_blog">
                            <h4 class="brief">Digital Strategist</h4>
                            <div class="contact_inner">
                              <div class="left">
                                <h3>${contact.name}</h3>
                                <p>
                                  <strong>About: </strong>Frontend Developer
                                </p>
                                <ul class="list-unstyled">
                                  <li>
                                    <i class="fa fa-envelope-o"></i> :
                                    ${contact.email}
                                  </li>
                                  <li>
                                    <i class="fa fa-phone"></i> :
                                    ${contact.phone}
                                  </li>
                                </ul>
                              </div>
                              <div class="right">
                                <div class="profile_contacts">
                                  <img
                                    class="img-responsive"
                                    src="${contact.image}"
                                    alt="#"
                                  />
                                </div>
                              </div>
                              <div class="bottom_list">
                                <div class="left_rating">
                                  <p class="ratings">
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star-o"></span
                                    ></a>
                                  </p>
                                </div>
                                <div class="right_button">
                                  <button
                                    type="button"
                                    class="btn btn-success btn-xs"
                                  >
                                    <i class="fa fa-user"> </i>
                                    <i class="fa fa-comments-o"></i>
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-primary btn-xs"
                                  >
                                    <i class="fa fa-user"> </i> View Profile
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end column contact blog -->
                        <!-- column contact -->
                        <div
                          class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30"
                        >
                          <div class="contact_blog">
                            <h4 class="brief">Digital Strategist</h4>
                            <div class="contact_inner">
                              <div class="left">
                                <h3>${contact.name}</h3>
                                <p>
                                  <strong>About: </strong>Frontend Developer
                                </p>
                                <ul class="list-unstyled">
                                  <li>
                                    <i class="fa fa-envelope-o"></i> :
                                    ${contact.email}
                                  </li>
                                  <li>
                                    <i class="fa fa-phone"></i> :
                                    ${contact.phone}
                                  </li>
                                </ul>
                              </div>
                              <div class="right">
                                <div class="profile_contacts">
                                  <img
                                    class="img-responsive"
                                    src="${contact.image}"
                                    alt="#"
                                  />
                                </div>
                              </div>
                              <div class="bottom_list">
                                <div class="left_rating">
                                  <p class="ratings">
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star-o"></span
                                    ></a>
                                  </p>
                                </div>
                                <div class="right_button">
                                  <button
                                    type="button"
                                    class="btn btn-success btn-xs"
                                  >
                                    <i class="fa fa-user"> </i>
                                    <i class="fa fa-comments-o"></i>
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-primary btn-xs"
                                  >
                                    <i class="fa fa-user"> </i> View Profile
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end column contact blog -->
                        <!-- column contact -->
                        <div
                          class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30"
                        >
                          <div class="contact_blog">
                            <h4 class="brief">Digital Strategist</h4>
                            <div class="contact_inner">
                              <div class="left">
                                <h3>${contact.name}</h3>
                                <p>
                                  <strong>About: </strong>Frontend Developer
                                </p>
                                <ul class="list-unstyled">
                                  <li>
                                    <i class="fa fa-envelope-o"></i> :
                                    ${contact.email}
                                  </li>
                                  <li>
                                    <i class="fa fa-phone"></i> :
                                    ${contact.phone}
                                  </li>
                                </ul>
                              </div>
                              <div class="right">
                                <div class="profile_contacts">
                                  <img
                                    class="img-responsive"
                                    src="${contact.image}"
                                    alt="#"
                                  />
                                </div>
                              </div>
                              <div class="bottom_list">
                                <div class="left_rating">
                                  <p class="ratings">
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star"></span
                                    ></a>
                                    <a href="#"
                                      ><span class="fa fa-star-o"></span
                                    ></a>
                                  </p>
                                </div>
                                <div class="right_button">
                                  <button
                                    type="button"
                                    class="btn btn-success btn-xs"
                                  >
                                    <i class="fa fa-user"> </i>
                                    <i class="fa fa-comments-o"></i>
                                  </button>
                                  <button
                                    type="button"
                                    class="btn btn-primary btn-xs"
                                  >
                                    <i class="fa fa-user"> </i> View Profile
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- end column contact blog -->
                      </div>
                    </div>
                  </div>
                </div>

                <!-- end row -->
              </div>
              <!-- footer -->
              <div class="container-fluid">
                <div class="row">
                  <div class="footer">
                    <p>Copyright  2024 Digital Strategies</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end Home inner -->
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- wow animation -->
    <script src="js/animate.js"></script>
    <!-- select country -->
    <script src="js/bootstrap-select.js"></script>
    <!-- owl carousel -->
    <script src="js/owl.carousel.js"></script>
    <!-- chart js -->
    <script src="js/Chart.min.js"></script>
    <script src="js/Chart.bundle.min.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/analyser.js"></script>
    <!-- nice scrollbar -->
    <script src="js/perfect-scrollbar.min.js"></script>
    <script>
      var ps = new PerfectScrollbar("#sidebar");
    </script>
    <!-- custom js -->
    <script src="js/custom.js"></script>
    <!-- calendar file css -->
    <script src="js/semantic.min.js"></script>
    <script></script>
    <script>
      async function fetchUserProfile() {
        // Fetch tokens from local storage
        const accessToken = localStorage.getItem("accessToken");
        const refreshToken = localStorage.getItem("refreshToken");
        console.log("Fetched tokens from local storage:", {
          accessToken,
          refreshToken,
        });

        if (!accessToken) {
          console.log("No access token found. Redirecting to login.");
          window.location.href = "/login";
          return;
        }

        try {
          console.log("Making GET request to /auth/profile with access token.");
          const response = await fetch("http://localhost:3000/auth/profile", {
            method: "GET",
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${accessToken}`,
              "x-refresh-token": refreshToken, // Include the refresh token if available
            },
          });

          console.log("Profile fetch response status:", response.status);

          const data = await response.json();
          console.log("Profile fetch response data:", data);

          if (response.ok && data.success) {
            console.log("Data fetch was successful.");

            const profile = data.profile;
            console.log("Profile data extracted:", profile);

            const profilePictureElements =
              document.querySelectorAll(".profile-picture");
            if (profilePictureElements.length > 0) {
              console.log("Updating profile picture.");
              profilePictureElements.forEach((element) => {
                element.src = profile.profilePicture;
              });
            } else {
              console.warn("Profile picture elements not found.");
            }

            const userNameElements = document.querySelectorAll(".userName");
            if (userNameElements.length > 0) {
              console.log("Updating user name.");
              userNameElements.forEach((element) => {
                element.textContent = profile.name;
              });
            } else {
              console.warn("User name elements not found.");
            }

            const notificationCountElement =
              document.getElementById("notificationCount");
            if (notificationCountElement) {
              console.log("Updating notifications count.");
              notificationCountElement.textContent = profile.notifications;
            } else {
              console.warn("Notification count element not found.");
            }

            const messageCountElement = document.getElementById("messageCount");
            if (messageCountElement) {
              console.log("Updating messages count.");
              messageCountElement.textContent = profile.messages;
            } else {
              console.warn("Message count element not found.");
            }

            const facebookFriendsElement =
              document.getElementById("facebookFriends");
            if (facebookFriendsElement) {
              console.log("Updating Facebook friends count.");
              facebookFriendsElement.textContent = profile.socialStats.friends;
            } else {
              console.warn("Facebook friends element not found.");
            }

            const facebookFeedsElement =
              document.getElementById("facebookFeeds");
            if (facebookFeedsElement) {
              console.log("Updating Facebook feeds count.");
              facebookFeedsElement.textContent = profile.socialStats.feeds;
            } else {
              console.warn("Facebook feeds element not found.");
            }

            console.log("Profile updated successfully:", profile);
          } else {
            console.error("Failed to fetch user profile:", data.message);
            window.location.href = "/login";
          }
        } catch (error) {
          console.error("Error fetching user profile:", error);
          window.location.href = "/login";
        }
      }

      // Call fetchUserProfile when the page loads
      document.addEventListener("DOMContentLoaded", () => {
        console.log("Calling fetchUserProfile when the page loads.");
        fetchUserProfile();
      });
    </script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document
          .getElementById("logout-link")
          .addEventListener("click", async function (event) {
            event.preventDefault(); // Prevent default link behavior
            console.log("Logout link clicked"); // Log when the logout link is clicked

            try {
              // Fetch request to the logout endpoint
              console.log("Preparing to send logout request");
              const accessToken = localStorage.getItem("accessToken");
              const refreshToken = localStorage.getItem("refreshToken");
              console.log("Access Token:", accessToken);
              console.log("Refresh Token:", refreshToken);

              const response = await fetch(
                "http://localhost:3000/auth/logout",
                {
                  method: "GET",
                  headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${accessToken}`,
                    "x-refresh-token": refreshToken, // Include the refresh token if available
                  },
                }
              );

              console.log("Response received from /auth/logout");
              console.log("Response status:", response.status);

              if (response.ok) {
                console.log("Logout successful");

                // Clear local storage
                localStorage.removeItem("accessToken");
                localStorage.removeItem("refreshToken");
                localStorage.removeItem("userProfile");
                console.log("Local storage cleared");

                // Redirect to login page
                console.log("Redirecting to /login");
                window.location.href = "/login";
              } else {
                console.error("Logout failed:", await response.json());
              }
            } catch (err) {
              console.error("Error during logout:", err);
            }
          });
      });
    </script>
    <script>
      async function getContacts() {
        // Fetch tokens from local storage
        const accessToken = localStorage.getItem("accessToken");
        const refreshToken = localStorage.getItem("refreshToken");
        console.log("Fetched tokens from local storage:", {
          accessToken,
          refreshToken,
        });

        if (!accessToken) {
          console.log("No access token found. Redirecting to login.");
          window.location.href = "/login";
          return;
        }

        try {
          console.log("Making GET request to /api/contacts with access token.");
          const response = await fetch(
            "http://localhost:3000/auth/contacts/contacts",
            {
              method: "GET",
              headers: {
                "Content-Type": "application/json",
                Authorization: `Bearer ${accessToken}`,
                "x-refresh-token": refreshToken, // Include the refresh token if available
              },
            }
          );

          console.log("Contacts fetch response status:", response.status);
          const data = await response.json();
          console.log("Contacts fetch response data:", data);

          if (response.ok) {
            console.log("Data fetch was successful.");
            const contacts = data;
            console.log("Contacts data extracted:", contacts);

            // Find the container where the contacts will be inserted
            const contactsListElement =
              document.getElementById("contacts-list");
            if (contactsListElement) {
              contactsListElement.innerHTML = ""; // Clear the container

              if (contacts.length > 0) {
                console.log("Populating contacts into the DOM.");

                contacts.forEach((contact) => {
                  const contactHTML = generateContactHTML(contact); // Use the HTML generator
                  contactsListElement.insertAdjacentHTML(
                    "beforeend",
                    contactHTML
                  );
                });

                console.log("Contacts populated successfully.");
              } else {
                // If no contacts are found, display a "No contacts" message
                contactsListElement.innerHTML = `
              <p class="no-contacts-message">No contacts available at the moment.</p>
            `;
                console.log("No contacts available.");
              }
            } else {
              console.warn("Contacts list element not found.");
            }
          } else {
            console.error("Failed to fetch contacts:", data.message);
          }
        } catch (error) {
          console.error("Error fetching contacts:", error);
        }
      }

      function generateContactHTML(contact) {
        return `
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
      <div class="contact_blog">
        <h4 class="brief">Digital Strategist</h4>
        <div class="contact_inner">
          <div class="left">
            <h3>${contact.name}</h3>
            <p><strong>About: </strong>Frontend Developer</p>
            <div class="summary-content">
              <!-- Summary content visible by default -->
              <p><i class="fa fa-envelope-o"></i> : ${contact.email}</p>
              <button type="button" class="btn btn-link view-more-btn">View More</button>
            </div>
            <div class="full-content" style="display: none;">
              <!-- Full content hidden initially -->
              <ul class="list-unstyled">
                <li><i class="fa fa-phone"></i> : ${contact.phone}</li>
                <li><i class="fa fa-location-arrow"></i> : ${
                  contact.address
                }, ${contact.city}, ${contact.country}</li>
                <li><i class="fa fa-user"></i> Gender: ${
                  contact.gender === "M" ? "Male" : "Female"
                }</li>
              </ul>
              <div class="action-buttons">
                <!-- Action buttons are now visible when full-content is displayed -->
                <button type="button" class="btn btn-success btn-xs update-contact-btn" data-id="${
                  contact._id
                }" 
                  data-name="${contact.name}" 
                  data-email="${contact.email}" 
                  data-phone="${contact.phone}" 
                  data-address="${contact.address}" 
                  data-city="${contact.city}" 
                  data-country="${contact.country}">
                  <i class="fa fa-user"></i> Update Contact
                </button>

                <button type="button" class="btn btn-primary btn-xs delete-contact-btn" data-id="${
                  contact._id
                }">
                  <i class="fa fa-trash"></i> Delete Contact
                </button>
              </div>
              <button type="button" class="btn btn-link view-less-btn">View Less</button>
            </div>
          </div>
          <div class="right">
            <div class="profile_contacts">
              <img class="img-responsive" src="${
                contact.image || "images/default-profile.png"
              }" alt="Profile Image" />
            </div>
          </div>
          <div class="bottom_list">
            <div class="left_rating">
              <p class="ratings">
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star"></span></a>
                <a href="#"><span class="fa fa-star-o"></span></a>
              </p>
            </div>
            <div class="right_button">
              <!-- You can keep other buttons here if needed -->
              <div id="response-message"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  `;
      }

      // Call getContacts when the page loads
      document.addEventListener("DOMContentLoaded", () => {
        console.log("Calling getContacts when the page loads.");
        getContacts();
      });
    </script>
    <script>
      // Event listener to toggle between viewing more and less content
      document.addEventListener("click", function (e) {
        // Handle "View More" button click
        if (e.target && e.target.classList.contains("view-more-btn")) {
          const leftSection = e.target.closest(".left");
          const fullContent = leftSection.querySelector(".full-content");
          const summaryContent = leftSection.querySelector(".summary-content");

          fullContent.style.display = "block"; // Show full content
          summaryContent.style.display = "none"; // Hide summary
        }

        // Handle "View Less" button click
        if (e.target && e.target.classList.contains("view-less-btn")) {
          const leftSection = e.target.closest(".left");
          const fullContent = leftSection.querySelector(".full-content");
          const summaryContent = leftSection.querySelector(".summary-content");

          fullContent.style.display = "none"; // Hide full content
          summaryContent.style.display = "block"; // Show summary
        }

        // Optional: Handle Update and Delete button clicks here
        if (e.target && e.target.closest(".update-contact-btn")) {
          const button = e.target.closest(".update-contact-btn");
          const contactId = button.getAttribute("data-id");
          // Implement your update logic here
          alert(`Update Contact ID: ${contactId}`);
        }

        if (e.target && e.target.closest(".delete-contact-btn")) {
          const button = e.target.closest(".delete-contact-btn");
          const contactId = button.getAttribute("data-id");
          // Implement your delete logic here
          alert(`Delete Contact ID: ${contactId}`);
        }
      });
    </script>
    <script>
      document
        .getElementById("create-contact-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          console.log("Form submission event triggered.");

          // Fetch tokens from local storage
          const accessToken = localStorage.getItem("accessToken");
          const refreshToken = localStorage.getItem("refreshToken");
          console.log("Fetched tokens from local storage:", {
            accessToken,
            refreshToken,
          });

          if (!accessToken) {
            console.log("No access token found. Redirecting to login.");
            window.location.href = "/login";
            return;
          }

          // Create FormData object from the form
          const formData = new FormData(e.target);
          console.log("Form data extracted and ready for submission.");

          try {
            console.log("Sending POST request to create contact...");
            const response = await fetch(
              "http://localhost:3000/auth/contacts/contacts",
              {
                method: "POST",
                headers: {
                  Authorization: `Bearer ${accessToken}`,
                  "x-refresh-token": refreshToken, // Include the refresh token if available
                },
                body: formData, // Send the FormData directly
              }
            );

            const result = await response.json();
            console.log("Received response from server:", result);

            if (response.ok) {
              console.log("Contact created successfully.");
              displayMessage("success", "Contact created successfully!");
            } else {
              console.error("Failed to create contact:", result.message);
              displayMessage("danger", `Error: ${result.message}`);
            }
          } catch (error) {
            console.error("Error occurred during contact creation:", error);
            displayMessage("danger", "Failed to create contact");
          }

          // Close the modal after submission
          closeContactModal();
        });

      // Function to display response messages
      function displayMessage(type, message) {
        const responseMessageElement =
          document.getElementById("response-message");
        responseMessageElement.innerHTML = `<div class="alert alert-${type}">${message}</div>`;
      }

      // Function to close the contact modal
      function closeContactModal() {
        console.log("Closing the create contact modal...");
        const createContactModal = new bootstrap.Modal(
          document.getElementById("createContactModal")
        );
        createContactModal.hide();
      }
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Attach event listener to the contact list for event delegation
        const contactList = document.getElementById("contacts-list");
        if (contactList) {
          contactList.addEventListener("click", (e) => {
            // Check if the clicked element is an update button
            const button = e.target.closest(".update-contact-btn");
            if (button) {
              console.log("Update button clicked:", button);

              // Get the contact data from data attributes
              const contactId = button.dataset.id;
              const contactName = button.dataset.name;
              const contactEmail = button.dataset.email;
              const contactPhone = button.dataset.phone;
              const contactAddress = button.dataset.address;
              const contactCity = button.dataset.city;
              const contactCountry = button.dataset.country;

              // Populate the form fields
              document.getElementById("update-name").value = contactName;
              document.getElementById("update-email").value = contactEmail;
              document.getElementById("update-phone").value = contactPhone;
              document.getElementById("update-address").value = contactAddress;
              document.getElementById("update-city").value = contactCity;
              document.getElementById("update-country").value = contactCountry;

              // Show the update contact modal
              $("#updateContactModal").modal("show"); // Using jQuery to show the modal
            }
          });
        }
      });

      // Handle the form submission for updating contact
      document
        .getElementById("update-contact-form")
        .addEventListener("submit", async (e) => {
          e.preventDefault();

          // Gather the updated contact data from the form
          const updatedContact = {
            name: document.getElementById("update-name").value,
            email: document.getElementById("update-email").value,
            phone: document.getElementById("update-phone").value,
            address: document.getElementById("update-address").value,
            city: document.getElementById("update-city").value,
            country: document.getElementById("update-country").value,
          };

          // Here you would send the updatedContact data to your server
          // using a fetch call with the appropriate endpoint and method.
          const contactId = document.querySelector(
            ".update-contact-btn[data-id]"
          ).dataset.id; // Fetch the contact ID from the button
          try {
            // Fetch tokens from local storage
            const accessToken = localStorage.getItem("accessToken");
            const refreshToken = localStorage.getItem("refreshToken");
            console.log("Fetched tokens from local storage:", {
              accessToken,
              refreshToken,
            });
            const response = await fetch(
              `http://localhost:3000/auth/contacts/contacts/${contactId}`,
              {
                method: "PUT", // Change to the appropriate method for updating
                headers: {
                  "Content-Type": "application/json",
                  Authorization: `Bearer ${accessToken}`,
                  "x-refresh-token": refreshToken, // Include the refresh token if available
                },
                body: JSON.stringify(updatedContact),
              }
            );

            const result = await response.json();
            console.log("Response from server:", result);
            if (response.ok) {
              // Display success message and close modal
              document.getElementById("response-message").innerHTML =
                '<div class="alert alert-success">Contact updated successfully!</div>';
              $("#updateContactModal").modal("hide");
            } else {
              document.getElementById(
                "response-message"
              ).innerHTML = `<div class="alert alert-danger">Error: ${result.message}</div>`;
            }
          } catch (error) {
            console.error("Error updating contact:", error);
            document.getElementById("response-message").innerHTML =
              '<div class="alert alert-danger">Failed to update contact</div>';
          }
        });
    </script>
  </body>
</html>
